name: Linux_IRIS_Scan

on: [push, pull_request]

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
  
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Install dependencies
        run: mvn clean install -D maven.test.skip=true

      - name: Create Settings File
        run: |
            jsonContent=$(jq -n --arg projectId "${{ secrets.PROJECT_ID }}" --arg jwt "${{ secrets.IRIS_JWT }}" \
                        '{projectId: $projectId, jwt_auth: $jwt}')

            echo $jsonContent > iris.settings.json

      - name: Download IRIS Scanner CLI 
        run: | 
          curl -L -o iris-scanner-cli https://iris.codeeye.ai/assets/onprem/v2/iris-scanner-cli_1_3_3
          chmod +x iris-scanner-cli
      
      - name: Run Scan 
        run: |
          commitId=$(git rev-parse HEAD)
          shortCommitId="GitHub-"${GITHUB_SHA::8}
          currentDirectory=$PWD

          ./iris-scanner-cli -s $currentDirectory -r $shortCommitId -sensitivity 'soft'



